{% load i18n %}
{% autoescape off %}
{% url 'password_reset_confirm' uidb64=uid token=token as reset_url %}

{% blocktrans %}
Vous avez reçu cet e-mail parce que vous avez demandé la réinitialisation de votre mot de passe pour votre compte utilisateur.

Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :

{{ protocol }}://{{ domain }}{{ reset_url }}

Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez ignorer cet e-mail.
{% endblocktrans %}
{% endautoescape %}
