{% block content %}
  <div class="container">
    <h2 class="reset-message-heading">Message de réinitialisation du mot de passe envoyé</h2>
    <p class="reset-message">Nous avons envoyé par e-mail les instructions pour changer votre mot de passe. 
        Vous devriez recevoir ce message rapidement si vous avez un compte associé à l'adresse que vous avez indiquée.</p>
    <p class="reset-info">Si vous ne recevez pas de message, veuillez vérifier que vous avez bien saisi 
        l'adresse avec laquelle vous vous êtes enregistré(e) et vérifier votre dans les messages indésirables (spam).</p>
  </div>

  <style>
    /* Ajouter ici les styles personnalisés */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .reset-message-heading {
      color: #007bff;
      margin-bottom: 15px;
    }

    .reset-message,
    .reset-info {
      margin-bottom: 20px;
    }

    .reset-info {
      font-style: italic;
      color: #888;
    }
  </style>
{% endblock %}
